
body, html {
    overflow-x: hidden;

    &.locked {
        overflow-y: hidden;
    }
}

// html {
//     overflow-x: hidden;
// }

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Söhne Breit Test';
    src: url(/soehne-breit-kraftig.ttf);
}

.splice-btn {
    padding: 11px 35px;
    border-radius: 105px;
    background: #03F;
    color: white;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 12px;
    border: 1px solid transparent;
    transition: .3s ease background, .3s ease color;
    @media(max-width: 992px) {
            padding: 15px 35px;
            font-size: 16px !important;
    }

    &:hover {
        
        background-color: transparent;
        color: #0C0C0C;
        border: 1px solid #0C0C0C;
    }
}

.splice__pretitle {
    color: rgba(96, 96, 96, 0.50);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.splice__title {
    color: #272727;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 108%;
    span {
        color: #03F;
    }

    @media(max-width: 992px) {
        font-size: 2.75rem;
    }

    @media(max-width: 767px) {
        font-size: 2.5rem;
    }
    @media(max-width: 480px) {
        font-size: 2.25rem;
    }
}

.splice__text {
    color: #958A8A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 171%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:visited {
    text-decoration: none;
    
}
li,
ol,
ul {
    list-style: none;
    margin: 0;
}
img{
    vertical-align: top;
}

body {
    
    &.locked {
        overflow: hidden;
    }
}

.splice-ff {
    font-family: 'Söhne Breit Test'; 
}

.splice__container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    
    
//     @media(max-width:1176px){
        
//             max-width: 970px;
        
//  }

//  @media(max-width:992px){
   
//         max-width: 750px;
    
// }

@media(max-width:767px){
   
        max-width: none;
    
}

}


@media(max-width:1176px){
}

@media(max-width:992px){
}

@media(max-width:767px){
}


.splice {
    
    &__nav {
        padding-top: 42px;


        @media(max-width: 992px) {
            padding-top: 20px;
        }
    }
    // .splice__nav

    &__wrapper {
        display: flex;
        align-items: center;
    }
splice__nav-li
    // .splice__container

    &__container {
    }

    // .splice__logo

    &__logo {
    }

    // .splice__nav-list

    &__nav-list {
        display: flex;
        gap: 34px;
        margin-left: 79px;

        @media(max-width: 1200px) {
            margin-left: 40px;
        }

        @media(max-width: 1167px) {
            display: none;
        }
        &.active {
            display: flex;
            position: fixed;
            width: 100%;
            height: 100dvh;
            background-color: #F07043;
            inset: 0;
            margin-left: 0;
            z-index: 99;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 45px;

            .splice__nav-li {
                font-size: 32px;
            }

            .splice__close {
                display: block;
                
                width: 40px;
                height: 40px;
                position: relative;
                cursor: pointer;
                z-index: 100;
                position: absolute;
                top: 42px;
                right: 31px;

                @media(max-width: 992px) {
                    top: 25px;
                }
            }
        }
    }

    // .splice__nav-li

    &__nav-li {
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
    }

    // .splice__nav-link

    &__nav-link {
        color: #272727;
        transition: .3s ease color;

        &:hover {
            
            color: lighten(#272727, 45%);
        }
    }

    // .splice__nav-btns

    &__nav-btns {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 28px;

        

        @media(max-width: 550px) {
            display: none;
        }
        &.active {
            display: flex;
            position: fixed;
            z-index: 100;
            bottom: 15px;
            left: 50%;
            translate: -50% 0%;
            display: none;

            @media(max-width: 550px) {
                display: flex;
            }

            .splice__nav-login {
                border-radius: 105px;
                background: rgba(255, 255, 255, 0.26);
                -webkit-backdrop-filter: blur(2.5px);
                backdrop-filter: blur(2.5px);
                padding: 10px 31px;
                white-space: nowrap;
            }
            .splice__nav-btn {
                white-space: nowrap;
            }
        }
    }

    // .splice__nav-login

    &__nav-login {
        color: #FFF;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media(max-width: 992px) {
            font-size: 14px;
        }

        transition: .3s ease color;

        &:hover {
            
            color: darken(#fff, 15%);
        }
    }

    // .splice__nav-btn

    &__nav-btn {
        border-radius: 105px;
        background: rgba(255, 255, 255, 0.26);
        backdrop-filter: blur(2.5px);

        color: #FFF;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px 31px;

        transition: .3s ease all;

        &:hover {
            background: darken(rgba(255, 255, 255, 0.26), 15%);
            color: darken(#fff, 15%);
        }

        @media(max-width: 992px) {
            font-size: 14px;
        }
    }
}

.splice__burger {
    width: 40px;
    height: 30px;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 100;
    @media(max-width: 1167px) {
        display: block;
        margin-left: 25px;
    }

    @media(max-width: 550px) {
        margin-left: auto;
    }

    &::after {
        top: 0;
        content: '';
        width: 100%;
        height: 3px;
        background-color: rgb(255, 255, 255);
        position: absolute;

        @media(max-width: 550px) {
            background-color: black;
        }
        
    }

    span {
        width: 100%;
        height: 3px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: .1s ease opacity;

        @media(max-width: 550px) {
            background-color: black;
        }
    }

    &::before {
        bottom: 0;
        content: '';
        width: 100%;
        height: 3px;
        background-color: rgb(255, 255, 255);
        position: absolute;

        @media(max-width: 550px) {
            background-color: black;
        }
        
    }

    &::after, &::before {
        transform-origin: left;
        transition: .3s ease all;
    }
    
    &.active {
        pointer-events: none;
        position: fixed;
        right: 31px;
        &::after {
            rotate: 45deg;
        }
        span {
            opacity: 0;
        }
        &::before {
            rotate: -45deg;
        }


    
    }
}

.splice__close {
    display: none;
}

.splice {

    // .splice__section

    &__section {
        padding-top: 119px;
    }

    // .splice__container

    &__container {
    }

    // .splice__hero-title

    &__hero-title {
        font-size: 70px;
        max-width: 481px;
        line-height: normal;
        line-height: 110%;
        background: url(/assets/hero__mask.png) lightgray 70% / cover no-repeat;
            line-height: 110%;
            -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        object-view-box: inset(13px 182px 39px 218px);
        // fill: linear-gradient(133deg, #F59341 0%, #EA733C 100%);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
        @media(max-width: 1250px) {
            font-size: 64px;
        }

        @media(max-width: 1167px) {
            background: url(/assets/hero3.png) lightgray 70% / cover no-repeat;
            -webkit-background-clip: text;
            mix-blend-mode: difference;
            text-wrap: balance;
        }

        @media(max-width: 550px) {
            font-size: 48px;
        }

        @media(max-width: 360px) {
            font-size: 42px;
        }

    }

    // .splice__hero-text

    &__hero-text {
        color: #595959;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 171%; /* 30.78px */
        max-width: 510px;
        margin-top: 23px;
        mix-blend-mode: difference;

        @media(max-width: 992px) {
            font-size: 20px;
        }

        @media(max-width: 767px) {
            mix-blend-mode: plus-lighter;
        }
    }

    // .splice__hero-

    &__hero-btn {
        margin-top: 34px;
        display: flex;
        max-width: fit-content;
        white-space: nowrap;

        color: #FFF;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media(max-width: 992px) {
            margin-top: 28px;
        }
    
        @media(max-width: 767px) {
            margin-top: 18px;
        
        }
}

}
.splice__svg-bg {
    position: absolute;
    right: -15px;
    top: 0;
    z-index: -1;
}

.splice__logo__svg {

    &:hover {
        path {
            fill: lighten(#e36f6f, 10%);
        }
    }

    g {
        fill: #03F;
        mix-blend-mode: difference;
    }
    path {
        fill:#e36f6f;
        mix-blend-mode: difference;
        transition: .3s ease all;
        
    }
}

.splice__rectangle {
    position: absolute;
    inset: 0;
    z-index: -2;
    flex-shrink: 0;
    path {
        // position: absolute;
        // width: 100%;
        // height: 100%;
    }
}

.splice__rect-copy {
    position: absolute;
    top: 0;
    background-color: #F4F6F9;
    width: 4000px;
    left: -1000px;
    height: 568px;
    z-index: -3;
}

.splice__bg {
    height: 702px;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

.splice {

    // .splice__featured

    &__featured__section {
        padding-top: 100px;
        padding-bottom: 127px;

        @media(max-width: 767px) {
            padding-top: 75px;
            padding-bottom: 75px;
        }
    }

    &__featured {
    }
}

.featured {

    // .featured__title

    &__title {
        color: #606060;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }

    // .featured__wrapper

    &__wrapper {
        display: flex;
        gap: 79px;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
 
            @media(max-width: 767px) {
                margin-top: 40px;
                gap: 60px;
            }

            @media(max-width: 450px) {
                margin-top: 50px;
            }
    }

    // .featured__item

    &__item {
        img {
            transition: .3s ease opacity;
        }
        &:hover {
            img {
                opacity: 0.7;
            }
        }
    }
}

.splice__sounds__section {
    position: relative;
}

.splice__sounds-wrapper {
    max-width: 558px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.splice__sounds__pretitle {

}
.splice__sounds__title {
    margin-top: 3px;
    text-align: center;
}

.splice__sounds__text {
    margin-top: 18px;
    text-align: center;

    @media(max-width: 992px) {
        margin-top: 15px;
    }
    

}

.splice__sounds__btn {
    margin-top: 34px;

    @media(max-width: 992px) {
        margin-top: 28px;
    }

    @media(max-width: 767px) {
        margin-top: 18px;
    }

    
}

.splice__sounds-img {
    margin-top: 50px;
    // width: 100%;
    // height: auto;

    @media(max-width: 767px) {
        margin-top: 40px;
    }
}

.splice__sounds-wave {
    position: absolute;
    left: 0;
    top: 332px;
    width: 100%;
    z-index: -1;

    @media(max-width: 767px) {
        top: 175px;
    }
}

.planets__section {
    padding-top: 164px;

    @media(max-width: 1050px) {
        padding-top: 75px;
    }

    @media(max-width: 767px) {
        padding-top: 50px;
    }
}

.splice__planets__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    @media(max-width: 1050px) {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    @media(max-width: 767px) {
        
        gap: 30px;
    }
}   


.splice__planets-img-box {
    display: flex;
    position: relative;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    &::after {
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        position: absolute;
        display: block;
        width: 340px;
        height: 340px;
        border-radius: 340px;
        background: radial-gradient(50% 50.00% at 50% 50.00%, #816FFF 0%, rgba(129, 64, 155, 0.00) 100%);
        z-index: -1;

        animation: pulsing 5s infinite;
        animation-play-state: running;
        animation-direction: alternate;

        @media(max-width: 600px) {
            width: 300px;
            height: 300px;
        }

        @media(max-width: 370px) {
            width: 250px;
            height: 250px;
        }

        @keyframes pulsing {
            0% {
                opacity: 1;
            }
            70% {
                opacity: 0.5;
            }

            100% {
                opacity: 1;
            }
        }
    }
}


.splice__planets-img {
    // animation: biggerOne 300s alternate infinite;

    @media(max-width: 600px) {
        width: 100%;
        height: auto;
    }

    // @keyframes biggerOne {
    //     0% {
    //         rotate: 0deg;
    //     }
        

    //     100% {
    //         rotate: 4000deg;
    //     }
    // }
}

.splice__planets-imgSmall {
    position: absolute;
    // top: 50%;
    // left: 50%;
    
    @media(max-width: 600px) {
        width: 100%;
        height: auto;
    }

    img {
        // animation: smallerOne 300s alternate infinite;

        @media(max-width: 600px) {
            width: 50%;
            height: auto;
        }

    // @keyframes smallerOne {
    //     0% {
    //         rotate: 0deg;
    //     }
        

    //     100% {
    //         rotate: -4000deg;
    //     }
    // }
    }

}

.splice__planets__title {
    max-width: 423px;
    text-wrap: balance;
}

.splice__planets__text {
    margin-top: 18px;
    max-width: 408px;

    @media(max-width: 992px) {
        margin-top: 15px;
    }
}

.splice__planets__btn {
    margin-top: 34px;
    display: flex;
    max-width: fit-content;

    @media(max-width: 1050px) {
        margin: 34px auto 0;
    }
    @media(max-width: 767px) {
        margin-top: 18px;
    }
    
}

.in-sync__section {
    padding-top: 109px;
    padding-bottom: 253px;

    @media(max-width: 992px) {
        padding-bottom: 125px;
    }

    @media(max-width: 767px) {
        padding-bottom: 80px;
    }
}

.in-sync__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    @media(max-width: 1050px) {
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
    }

    @media(max-width: 767px) {
        
        gap: 30px;
    }
}

.in-sync__title {
    margin-top: 3px;
}

.in-sync__text {
    margin-top: 18px;
    max-width: 400px;

    @media(max-width: 992px) {
       margin-top: 15px;
    }

    
}

.in-sync__btn {
    margin-top: 34px;
    display: flex;
    max-width: fit-content;

    @media(max-width: 1050px) {
        margin: 34px auto 0;
    }
    @media(max-width: 767px) {
        margin-top: 18px;
    }
}

.in-sync__img {
    @media(max-width: 767px) {
        width: 100%;
        height: auto;
    }
}

.creators-say__section {
    position: relative;
    padding-top: 146px;
    padding-bottom: 347px;
    background: #0C0C0C;
    
    @media(max-width: 1167px) {
        padding-bottom: 175px;
    }

    @media(max-width: 992px) {

    }

    @media(max-width: 767px) {
    }

    .splice__container {
        position: relative;
    }
}


.creators-say__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    isolation: isolate;
    @media(max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }
}

.creators__say-item-left {
    flex: 0 0 44%;

    @media(max-width: 992px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: unset;
    }
}

.creators-say__title {
    color: #FFF;
    max-width: 400px;
}
.creators-say__text {
    max-width: 400px;
    margin-top: 22px;

    @media(max-width: 992px) {
        margin-top: 15px;
    }
}

.creators-say__btn {
    display: flex;
    max-width: fit-content;
    margin-top: 40px;
    border: 1px solid transparent;
    @media(max-width: 992px) {
        margin-top: 18px;
    }
    transition: .3s ease all;
    &:hover {
        background-color: darken(rgb(0, 51, 255), 10%);
        color: white;
    }
}

.creators__say-item-card {
    padding: 28px;
    border-radius: 3px;
    background: #202020;
    flex: 0 1 290px;
    @media(max-width: 1300px) {
        flex: 0 1 250px;
    }

    

    // @media(max-width: 992px) {
    //     &:nth-child(1), &:nth-child(4) {
    //         flex: 0 1 100%;
    //     }

    //     &:nth-child(2), &:nth-child(3) {
    //         flex: 0 1 45%;
    //     }

    // }
    @media(max-width: 992px) {
        padding: 25px;
        &:nth-child(1) {
            grid-area: onee;
        }
        &:nth-child(2) {
            grid-area: twoo;
        }
        &:nth-child(3) {
            grid-area: threee;
        }
        &:nth-child(4) {
            grid-area: fourr;
        }
    }
    
    @media(max-width: 767px) {
        padding: 20px;
    }

    &:nth-child(3) {
        margin-left: 79px;

        @media(max-width: 1167px) {
            margin-left: 0;
        }

        
    }
}

.creators__say-card-review {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%; 
}

.creators__say-item-right {
    display: flex;
    gap: 39px;
    flex-wrap: wrap;
    
    @media(max-width: 1300px) {
        justify-content: end;
    }

    @media(max-width: 992px) {
        justify-content: center;
        display: grid;
        grid-template-areas: 
        'onee onee'
        'twoo threee'
        'fourr fourr';
        grid-template-columns: minmax(100px, 350px) minmax(100px, 350px);
    }

    @media(max-width: 767px) {
        gap: 30px;
    }

    @media(max-width: 600px) {
        grid-template-areas: 
        'onee onee'
        'twoo twoo'
        'threee threee'
        'fourr fourr';
    }

    @media(max-width: 550px) {
        gap: 20px;
    }
}

.creators__say-card-wrapper {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.creators__say-card-subwrapper {
    display: flex;
    flex-direction: column;
}

.creators__say-card-name {
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%;

    @media(max-width: 992px) {
        font-size: 14px;
    }
}

.creators__say-card-specialty {
    color: #FFF;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%;
    margin-top: 4px;

    @media(max-width: 992px) {
        font-size: 12px;
    }
}


// .cretBg {
//     background-color: #0C0C0C;
//     width: 100%;
//     height: 100%;
//     z-index: -5;
//     position: absolute;
//     inset: 0;
// }

.splice__rounded-div-wrap {
    position: absolute;
    bottom: 0;
    transform: translateY(-1px);
    will-change: height;
}

.splice__rounded-div-wrap {
    width: 100%;
    top: 0;
    position: relative;
    height: 10vh;
    overflow: hidden;
}

.splice__rounded-div {
    width: 150%;
    content: "";
    display: block;
    position: absolute;
    background: #0C0C0C;
    height: 750%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -86.666%);
    z-index: -1;
}

.creators-say-earth-img {
    position: absolute;
    top: -330px;
    right: -75px;
    z-index: 0;

    @media(max-width: 1450px) {
        scale: 0.9;
    }

    @media(max-width: 992px) {
        display: none;
    }
}

.creators-say-earth-img-mob {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    width: 100%;
    display: none;
    @media(max-width: 992px) {
        display: block;
    }
}

.asgood__section {
    padding-top: 416px;
    isolation: isolate;
    @media(max-width: 992px) {
        padding-top: 225px;
    }
}

.asgood__title {
    color: #FFF;
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%;
    position: relative;

    @media(max-width: 992px) {
        font-size: 2rem;
    }

    @media(max-width: 767px) {
        font-size: 1.75rem;
    }
    @media(max-width: 480px) {
        font-size: 1.625rem;
    }
}

.asgood__wrapper {
    margin-top: 113px;
    display: flex;
    gap: 40px;

    @media(max-width: 1167px) {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 75px;
    }

    @media(max-width: 550px) {
        gap: 25px;
        margin-top: 50px;
    }
}

.asgood__item-title {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%;
    margin-top: 15px;
}

.asgood__item-text {
    color: #958A8A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 171%;
    margin-top: 19px;
}

.asgood__waves {
    position: absolute;
    width: 100%;
    inset: 0;
    top: -158px;
    pointer-events: none;
    @media(max-width: 1450px) {
        width: unset;
    }

    @media(max-width: 992px) {
        top: -75px;
        width: unset;
        left: -150px;
    }

    @media(max-width: 550px) {
        height: 980px;
    }
}

.asgood__item {
    @media(max-width: 1167px) {
        flex: 0 1 45%;
        max-width: 374px;
    }

    @media(max-width: 550px) {
        flex: 0 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.splice__come-change__section {
    margin-top: -125px;
    border-radius: 22px;
    background: linear-gradient(134deg, #A659FF 0%, #7178FF 36.98%, #2148FF 65.10%, #FF3517 100%);
    padding: 43px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: relative;
    animation: gradient-animation infinite 16s ease;
    background-size: 240% 240%;
    @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
}

.splice__come-change__title {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%; /* 38.88px */
    max-width: 549px;

    @media(max-width: 992px) {
        font-size: 2rem;
    }

    @media(max-width: 767px) {
        font-size: 1.75rem;
    }
    @media(max-width: 480px) {
        font-size: 1.625rem;
    }
}

.splice__come-change__btn {
    display: flex;
    max-width: fit-content;
    margin-top: 32px;
    border-radius: 105px;
    border: 1px solid #FFF;
    background: transparent;
    padding: 11px 35px;
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: .3s ease all;
    &:hover {
        color: #0C0C0C;
        border: 1px solid #0C0C0C;
    }
}

.splice__footer {
    padding-top: 86px;
    padding-bottom: 131px;
    background-color: unset !important;
    @media(max-width: 992px) {
        padding-bottom: 75px;
    }

    @media(max-width: 767px) {
        padding-bottom: 50px;
    }

    @media(max-width: 550px) {
        padding-bottom: 30px;
    }
}

.splice__footer-wrapper {
    display: flex;
    justify-content: space-between;

    @media(max-width: 992px) {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 45px;
    }
}

.splice__footer-left-one {
    @media(max-width: 992px) {
        text-align: center;
    }
}

.splice__footer-reserved {
    color: #606060;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.7%; /* 14.27px */
    white-space: nowrap;
    margin-top: 13px;
}

.splice__footer-middle-one {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;

    @media(max-width: 1167px) {
        gap: 25px;
    }
}

.splice__footer-middle-one__item {
    flex: 0 1 22%;

    @media(max-width: 1167px) {
        flex: 0 1 24%;
    }

    @media(max-width: 992px) {
        flex: 0 1 20%;
    }

    @media(max-width: 550px) {
        flex: 0 1 40%;
    }
}

.splice__footer__links__title {
    color: #0C0C0C;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.splice__footer__links {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    gap: 11px;
}

.splice__footer-link {
    color: #606060;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.7%; /* 18.551px */
    width: fit-content;
    max-width: 180px;
    transition: .3s ease color;
    &:hover {
        color: lighten(#606060, 30%);
    }
}

.splice__footer-right-one-title {
    color: #0C0C0C;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    @media(max-width: 992px) {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.splice__footer-socials {
    display: flex;
    margin-top: 24px;
    gap: 17px;

    

    @media(max-width: 992px) {
        justify-content: center;
    }

    
}

.splice__footer-terms {
    display: flex;
    flex-wrap: wrap;
    margin-top: 31px;
    row-gap: 11px;
    column-gap: 32px;

    @media(max-width: 992px) {
        margin-top: 24px;
        justify-content: center;
    }
}

.splice__footer-terms-text {
    color: #606060;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.7%; /* 14.27px */

    transition: .3s ease color;
    &:hover {
        color: lighten(#606060, 30%);
    }
}

.splice__nav-btns-clone {
        display: none;
        align-items: center;
        margin-left: auto;
        gap: 28px;

        

    &.active {

            display: flex;
            position: fixed;
            z-index: 100;
            bottom: 15px;
            left: 50%;
            translate: -50% 0%;
            

        .splice__nav-login {
            border-radius: 105px;
            background: rgba(255, 255, 255, 0.26);
            -webkit-backdrop-filter: blur(2.5px);
            backdrop-filter: blur(2.5px);
            padding: 10px 31px;
            white-space: nowrap;
        }
        .splice__nav-btn {
            white-space: nowrap;
        }
    }

        
}

.splice-ff {

    .span-line {
        position: unset !important;
        display: unset !important;
        overflow: unset !important;
    }

    .span-line-inner {
        position: unset !important;
        display: unset !important;
    }
}